NEXT_PUBLIC_APP_URL=http://localhost:3000
AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
TASK_MASTER_SPREADSHEET_ID=
ROLEDEX_SPREADSHEET_ID=
SYNC_SECRET_TOKEN=
SIGNAL_TASK_SYNC_SECRET=
SIGNAL_APP_URL=
NOTION_API_TOKEN=
NOTION_TRAILS_DATABASE_ID=
NOTION_PORTFOLIO_DATABASE_ID=
NOTION_STRETCH_DATABASE_ID=
ALDEA_SYNC_OWNER_NAME=
ALDEA_USERS_JSON=[]
